<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="BFT_SENS_ECAT_M8" params="prefix">

    <link
      name="${prefix}_mounting">
      <inertial>
        <origin
          xyz="-9.4473E-05 0.00063177 0.010132"
          rpy="0 0 0" />
        <mass
          value="0.14931" />
        <inertia
          ixx="4.8806E-05"
          ixy="3.2223E-08"
          ixz="-1.0415E-07"
          iyy="5.5473E-05"
          iyz="1.3709E-07"
          izz="8.9696E-05" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="package://rokubimini_description/meshes/BFT_SENS_M8/mounting.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.6902 0.61176 0.52941 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0.011"
          rpy="0 0 0" />
        <geometry>
          <cylinder radius="0.035" length="0.028"/>
        </geometry>
      </collision>
      <collision>
        <origin
          xyz="0 0.051 0.0115"
          rpy="1.57 0 0" />
        <geometry>
          <cylinder radius="0.0065" length="0.032"/>
        </geometry>
      </collision>
      <collision>
        <origin
          xyz="0 0 0.03"
          rpy="0 0 0" />
        <geometry>
          <cylinder radius="0.0315" length="0.01"/>
        </geometry>
      </collision>
    </link>

    <link
      name="${prefix}_imu">
      <inertial>
        <origin
          xyz="-7.28164825396643E-05 1.54951151759942E-05 -0.00279059266096084"
          rpy="0 0 0" />
        <mass
          value="0.00841533584597687" />
        <inertia
          ixx="4.36835040253875E-07"
          ixy="-6.98609475825204E-11"
          ixz="-6.08397676352913E-15"
          iyy="4.41035649008913E-07"
          iyz="1.1033148379698E-11"
          izz="8.74962095262403E-07" />
      </inertial>
    </link>

    <joint
      name="mounting_to_imu"
      type="fixed">
      <origin
        xyz="0 0 0.0093"
        rpy="0 0 0" />
      <parent
        link="${prefix}_mounting" />
      <child
        link="${prefix}_imu" />
      <axis
        xyz="0 0 0" />
    </joint>

    <link
      name="${prefix}_wrench">
      <inertial>
        <origin
          xyz="-1.9753E-07 0.00017443 -0.0070758"
          rpy="0 0 0" />
        <mass
          value="0.081117" />
        <inertia
          ixx="2.1858E-05"
          ixy="-1.9153E-12"
          ixz="3.7592E-11"
          iyy="2.2215E-05"
          iyz="-4.9937E-08"
          izz="4.0048E-05" />
      </inertial>
    </link>

    <joint
      name="mounting_to_wrench"
      type="fixed">
      <origin
        xyz="0 0 0.035"
        rpy="0 0 0" />
      <parent
        link="${prefix}_mounting" />
      <child
        link="${prefix}_wrench" />
      <axis
        xyz="0 0 0" />
    </joint>

    <link
      name="${prefix}_mech1">
    </link>

    <joint
      name="mounting_to_mech1"
      type="fixed">
      <origin
        xyz="-0.032879 0 0.0105"
        rpy="1.5625 0 -1.5708" />
      <parent
        link="${prefix}_mounting" />
      <child
        link="${prefix}_mech1" />
      <axis
        xyz="0 0 0" />
    </joint>

    <link
      name="${prefix}_mech2">
    </link>

    <joint
      name="mounting_to_mech2"
      type="fixed">
      <origin
        xyz="0 -0.032879 0.0105"
        rpy="1.5708 0 0" />
      <parent
        link="${prefix}_mounting" />
      <child
        link="${prefix}_mech2" />
      <axis
        xyz="0 0 0" />
    </joint>

    <link
      name="${prefix}_mech3">
    </link>

    <joint
      name="mounting_to_mech3"
      type="fixed">
      <origin
        xyz="0.032879 0 0.0105"
        rpy="1.5708 0 1.5708" />
      <parent
        link="${prefix}_mounting" />
      <child
        link="${prefix}_mech3" />
      <axis
        xyz="0 0 0" />
    </joint>

  </xacro:macro>
</robot>