<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="BFT_ROKA_ECAT_M8" params="prefix">
    <link
      name="${prefix}_mounting">
      <inertial>
        <origin
          xyz="-2.9443E-05 -1.9654E-05 0.013949"
          rpy="0 0 0" />
        <mass
          value="0.065318" />
        <inertia
          ixx="1.7528E-05"
          ixy="3.61E-11"
          ixz="-5.7764E-10"
          iyy="1.7529E-05"
          iyz="-2.3008E-10"
          izz="2.7106E-05" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://rokubimini_description/meshes/BFT_ROKA_M8/mounting.STL" />
        </geometry>
        <material
          name="Bota_material">
          <color
            rgba="0.89804 0.91765 0.92941 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0.0155"
          rpy="0 0 0" />
        <geometry>
          <cylinder radius="0.024" length="0.031"/>
        </geometry>
      </collision>
      <collision>
        <origin
          xyz="0 0 -0.005"
          rpy="0 0 0" />
        <geometry>
          <cylinder radius="0.009" length="0.010"/>
        </geometry>
      </collision>
      <collision>
        <origin
          xyz="0 0 -0.026"
          rpy="0 0 0" />
        <geometry>
          <cylinder radius="0.0065" length="0.032"/>
        </geometry>
      </collision>
    </link>
    <link
      name="${prefix}_imu">
      <inertial>
        <origin
          xyz="-0.00017427 -0.00075655 -0.0031216"
          rpy="0 0 0" />
        <mass
          value="0.0031626" />
        <inertia
          ixx="1.5773E-07"
          ixy="-2.29E-11"
          ixz="-4.5155E-13"
          iyy="1.5929E-07"
          iyz="3.4636E-12"
          izz="3.1594E-07" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 -0.0035"
          rpy="0 0 0" />
        <geometry>
          <cylinder radius="0.019" length="0.0075"/>
        </geometry>
        <material
          name="Bota_material">
          <color
            rgba="0.79216 0.81961 0.93333 1" />
        </material>
      </visual>
    </link>
    <joint
      name="mounting_to_imu"
      type="fixed">
      <origin
        xyz="0 0 0.0098"
        rpy="0 0 0" />
      <parent
        link="${prefix}_mounting" />
      <child
        link="${prefix}_imu" />
      <axis
        xyz="0 0 0" />
    </joint>
    <link
      name="${prefix}_wrench">
      <inertial>
        <origin
          xyz="-1.6253E-08 6.5136E-06 -0.0075009"
          rpy="0 0 0" />
        <mass
          value="0.028727" />
        <inertia
          ixx="3.2695E-06"
          ixy="9.1326E-13"
          ixz="-1.2355E-12"
          iyy="3.2665E-06"
          iyz="-3.9713E-10"
          izz="5.081E-06" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://rokubimini_description/meshes/BFT_ROKA_M8/wrench.STL" />
        </geometry>
        <material
          name="Bota_material">
          <color
            rgba="0.6902 0.61176 0.52941 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 -0.009"
          rpy="0 0 0" />
        <geometry>
          <cylinder radius="0.019" length="0.018"/>
        </geometry>
      </collision>
    </link>
    <joint
      name="mounting_to_wrench"
      type="fixed">
      <origin
        xyz="0 0 0.032"
        rpy="0 0 0" />
      <parent
        link="${prefix}_mounting" />
      <child
        link="${prefix}_wrench" />
      <axis
        xyz="0 0 0" />
    </joint>
  </xacro:macro>
</robot>